@font-face {
    font-family: 'oregon';
    src: url("../assets/fonts/oregon_ldo-webfont.woff") ;
    font-weight: 300,400,500,700;
}
@font-face {
    font-family: 'titil';
    src: url("../assets/fonts/titillium-regular-webfont.woff") ;
    font-weight: 300,400,500,700;
}



@font-face {
    font-family: 'roboto';
    src: url("../assets/fonts/roboto_font.woff2") ;

    
    
}


@font-face {
    font-family: 'Open Sans', sans-serif;
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800');
}






